.container{
    margin: 7% 0 0 0;
    justify-content: center;
    display: flex;
}

.box{
    background-color: #001422;
    width: 800px;
    height: 600px;
    border: #45c329 4.4px solid;
    box-shadow: 0px 0px 24px 2px rgba(69,195,41,0.71);
    -webkit-box-shadow: 0px 0px 24px 2px rgba(69,195,41,0.71);
    -moz-box-shadow: 0px 0px 24px 2px rgba(69,195,41,0.71);
}

.box-transparent{
    position: absolute;
    background-color: transparent;
    width: 770px;
    height: 570px;
}

.life-container{
    color: #ffffffd0;
    font-size: 30px;
    width: 120px;
    position: absolute;
}

.life-container:hover{
   color: transparent;
}

.life-ico{
    margin: 5px;
}

@media only screen and (max-width: 768px){
    .container{
        margin: 22% 0 0 0;
       
    }
    .box{
        width: 80%;
        height: 400px;   
    }
    .box-transparent{
        height: 370px;
        width: 72.3%;
    }
}