.box-games {
    margin-top: 180px;
    margin-bottom: 50px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 370px;
}

.box-game {
    width: 270px;
    height: 300px;
    border: #45c329 4.4px solid;
    box-shadow: 0px 0px 24px 2px rgba(69, 195, 41, 0.71);
    -webkit-box-shadow: 0px 0px 24px 2px rgba(69, 195, 41, 0.71);
    -moz-box-shadow: 0px 0px 24px 2px rgba(69, 195, 41, 0.71);
    background-color: #001422;
    padding: 10px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 1s;
}
.box-game:hover{
    transform: scale(1.1);
}

.icon-game {
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

.bal1-game {
    width: 50px;
    height: 50px;
    background: #c3295c;
    margin: 40px 0 0 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}

.bal2-game {
    width: 50px;
    height: 50px;
    background: #c3295c;
    margin: 5px 0 0 145px;
    border-radius: 50%;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}

.bal3-game {
    width: 15px;
    height: 15px;
    background: #c3295c;
    margin: 35% auto;
    border-radius: 50%;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}

.bal4-game {
    width: 50px;
    height: 50px;
    background: #c32929;
    margin: 5px 0 0 145px;
    border-radius: 50%;
    box-shadow: 0px 0px 24px 2px #c32929b6;
    -webkit-box-shadow: 0px 0px 24px 2px #c32929b6;
    -moz-box-shadow: 0px 0px 24px 2px #c32929b6;
}

.bal6-game {
    width: 20px;
    height: 20px;
    margin: 45px 0 0 145px;
    border-radius: 50%;
    background: #dbb60f;
    box-shadow: 0px 0px 24px 2px #dbb60fb6;
    -webkit-box-shadow: 0px 0px 24px 2px #dbb60fb6;
    -moz-box-shadow: 0px 0px 24px 2px #dbb60fb6;
}

.bal5-game {
    width: 10px;
    height: 10px;
    margin: 40px;
    border-radius: 50%;
    background: #c3295c;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}

.bal7-game {
    width: 40px;
    height: 40px;
    margin-left: 120px;
    border-radius: 50%;
    background: #2568cc;
    box-shadow: 0px 0px 24px 2px #2568ccb6;
    -webkit-box-shadow: 0px 0px 24px 2px #2568ccb6;
    -moz-box-shadow: 0px 0px 24px 2px #2568ccb6;
}
.bal8-game {
    width: 30px;
    height: 30px;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 50%;
    background: #c3295c;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}
.bal9-game {
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 40px;
    border-radius: 50%;
    background: #c3295c;
    box-shadow: 0px 0px 24px 2px #c3295cb6;
    -webkit-box-shadow: 0px 0px 24px 2px #c3295cb6;
    -moz-box-shadow: 0px 0px 24px 2px #c3295cb6;
}

.h3-game {
    margin-top: 30px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 768px) {
    .box-games {
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .box-game {
        margin: 50px;
    }

    .box-game:hover {
        margin-top: 0;
    }
}