*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Russo One', sans-serif;
}
body{
background-image: url("./Images/background.jpg");
}

a {
  text-decoration: none;
}

select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

